<div class="checkout">
    <div class="delivery">
        <header>
            <h2>Leveransadress</h2>
        </header>
        <div class="form">
            <p>Till vilken adress vill du att vi levererar dina varor?</p>
            <form>
                <div>
                    <label>Namn</label>
                    <input type="text">
                </div>
                <div>
                    <label>Adress</label>
                    <input type="text">
                </div>
                <div>
                    <label>Postadress</label>
                    <input type="text" style="width:70px">
                    <input type="text" style="width:225px;margin-left:5px">
                </div>
                <div>
                    <label style="font-weight: normal">E-post</label>
                    <input type="email">
                </div>
                <div class="btn-group">
                    <a class="btn" href="#deliveryOptions">Gå vidare <i class="icon-arrow-right"></i></a>
                    <button class="btn" style="margin-left: 5px"><i class="icon-ok"></i> Skicka beställning</button>
                </div>
            </form>
        </div>
    </div>
</div>
