<div class="checkout">
    <div class="delivery">
        <header>
            <h2>Leveransadress</h2>
        </header>
        <div class="form">
            <p>Till vilken adress vill du att vi levererar dina varor?</p>
            <form>
                <div>
                    <label>Namn</label>
                    <input type="text">
                </div>
                <div>
                    <label>Adress</label>
                    <input type="text">
                </div>
                <div>
                    <label>Postadress</label>
                    <input type="text" style="width:70px">
                    <input type="text" style="width:225px;margin-left:5px">
                </div>
                <div>
                    <label style="font-weight: normal">E-post</label>
                    <input type="email">
                </div>
                <div class="btn-group">
                    <a class="btn" href="#deliveryOptions">Gå vidare <i class="icon-arrow-right"></i></a>
                    <button class="btn" style="margin-left: 5px"><i class="icon-ok"></i> Skicka beställning</button>
                </div>
            </form>
        </div>
    </div>
    <!--
        <div class="confirm">
            <header style="padding-left:0">
                <h2>Bekräfta</h2>
            </header>
            <table>
                <thead>
                <tr>
                    <th>Vara</th>
                    <th>Antal</th>
                    <th>Pris</th>
                    <th>Totalt</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Ristretto</td>
                    <td>250 st</td>
                    <td>3 kr</td>
                    <td>750 kr</td>
                </tr>
                <tr>
                    <td>Ristretto</td>
                    <td>250 st</td>
                    <td>3 kr</td>
                    <td>750 kr</td>
                </tr>
                <tr>
                    <td>Ristretto</td>
                    <td>250 st</td>
                    <td>3 kr</td>
                    <td>750 kr</td>
                </tr>
                </tbody>
                <tbody class="frakt">
                <tr>
                    <td colspan="3">Frakt</td>
                    <td>150 kr</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">Totalsumma</td>
                    <td>2 400 kr</td>
                </tr>
                </tfoot>
            </table>
            <footer id="send">
                <button class="btn"><i class="icon-ok"></i> Skicka beställning</button>
            </footer>
        </div>
    -->
</div>
