<div class="checkout">
    <div class="delivery">
        <header>
            <h2>Frakt</h2>
        </header>
        <div class="form">
            <p>Hur vill du att vi fraktar dina varor?</p>
            <form>
                <div class="btn-group" data-toggle="buttons-radio">
                    <% _.each(deliveryOptions, function(deliveryOption) { %>
                    <button id="btn<%- deliveryOption.shipmentMethod.method %>" type="button" class="btn" style="margin-left:0;width:130px"><%- deliveryOption.shipmentMethod.method %></button>
                    <% }) %>
                </div>
                <button class="btn">Gå vidare <i class="icon-arrow-down"></i></button>
            </form>
        </div>
    </div>
    <div class="confirm">
        <header style="padding-left:0">
            <h2>Bekräfta</h2>
        </header>
        <table>
            <thead>
            <tr>
                <th>Vara</th>
                <th>Antal</th>
                <th>Pris</th>
                <th>Totalt</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ristretto</td>
                <td>250 st</td>
                <td>3 kr</td>
                <td>750 kr</td>
            </tr>
            <tr>
                <td>Ristretto</td>
                <td>250 st</td>
                <td>3 kr</td>
                <td>750 kr</td>
            </tr>
            <tr>
                <td>Ristretto</td>
                <td>250 st</td>
                <td>3 kr</td>
                <td>750 kr</td>
            </tr>
            </tbody>
            <tbody class="frakt">
            <tr>
                <td colspan="3">Frakt</td>
                <td id="shipmentPrice">0 kr</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">Totalsumma</td>
                <td>2 400 kr</td>
            </tr>
            </tfoot>
        </table>
        <footer id="send">
            <button class="btn"><i class="icon-ok"></i> Skicka beställning</button>
        </footer>
    </div>
</div>