<header>
    <h1>Customer</h1>
    <nav>
        <div class="btn-toolbar">
            <% if (customer.id) { %>
            <div class="btn-group">
                <a id="customerDelete" class="btn"><i class="icon-trash"></i></a>
            </div>
            <% } %>
            <div class="btn-group">
                <a class="btn" href="#customer"><i class="icon-remove"></i></a>
            </div>
        </div>
    </nav>
</header>

<div class="content">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="firstName">First name</label>

            <div class="controls">
                <input id="firstName" type="text" value="{{customer.firstName}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="lastName">Last name</label>

            <div class="controls">
                <input id="lastName" type="text" value="{{customer.lastName}}">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button id="customerSave" type="submit" class="btn">Save</button>
            </div>
        </div>
    </form>
</div>
