<header>
    <h1>Customers</h1>
    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="#customer/add"><i class="icon-plus"></i> New</a>
        </div>
    </div>
</header>

<table class="table table-striped">
    <colgroup>
        <col style="width: 50%">
        <col style="width: 50%">
        <col style="width: 60px">
    </colgroup>
    <thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% _.each(customers, function(customer) { %>
    <tr>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td class="right">
            <a class="btn" href="#customer/edit/{{customer.id}}"><i class="icon-edit"></i></a>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>
