@import "compass_twitter_bootstrap_awesome";
@import "variables";

@import "cart";
@import "checkout";
@import "deliveryAddress";
@import "deliveryOptions";
@import "confirm";
@import "product";

* {
    @include box-sizing(border-box);
}

body {
    background-color: $darkBackgroundColor;
    padding: $padding;
}

h2 {
    margin: 0;
}

#products,
#cart,
#checkout {
    @include single-transition(all, 0.5s, ease-out);
}


.show-products {

    [href="#product"] {
        display: none;
    }

    #products {
        float: left;
        opacity: 1;
        width: 500px;
    }
    #cart {
        float: left;
    }
    #checkout {
        float: left;
        margin-right: -500px;
        opacity: 0;
        width: 500px;
    }
}

.show-checkout {

    [href="#checkout"] {
        display: none;
    }

    #products {
        float: left;
        opacity: 0;
        width: 500px;
        margin-left: -500px;
    }
    #cart {
        float: left;
    }
    #checkout {
        float: left;
        margin-right: 0;
        opacity: 1;
        width: 500px;
    }
}
