<header>
    <h1>Order</h1>
    <nav>
        <div class="btn-toolbar">
            <% if (order.id) { %>
            <div class="btn-group">
                <a id="orderDelete" class="btn"><i class="icon-trash"></i></a>
            </div>
            <% } %>
            <div class="btn-group">
                <a class="btn" href="#order"><i class="icon-remove"></i></a>
            </div>
        </div>
    </nav>
</header>

<div class="content">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="customer">Customer</label>
            <div class="controls">
                <input id="customer" type="text" value="{{order.customer}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="quantity">Quantity</label>
            <div class="controls">
                <input id="quantity" type="text" value="{{order.quantity}}">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button id="orderSave" type="submit" class="btn">Save</button>
            </div>
        </div>
    </form>
</div>
