.checkout {

    @include border-radius(10px);

    background-color: $darkerBackgroundColor;
    margin: $padding;
    padding: $padding;
    position: relative;

    .delivery {
        @include border-radius(5px);

        background-color: $backgroundColor;
        margin: $padding / 2;

        header {
            padding: $padding;

            h2 {
                margin: 0;
            }
        }

        .form {
            @include border-bottom-radius(5px);

            background-color: $lightBackgroundColor;
            padding: $padding;

            form {
                margin: $padding 0 0;
            }

            div {
                @include clearfix;
                label {
                    float: left;
                    font-weight: bold;;
                    text-align: right;
                    line-height: 25px;
                    padding-right: $padding;
                    width: 120px;
                }

                input {
                    height: auto;
                    float: left;
                    width: 300px;
                }
            }

            button, .btn {
                margin-left: 120px;
                margin-top: $padding;

            }

        }
    }

    .confirm {
        border-top: 2px solid $darkBackgroundColor;
        background-color: $lightestBackgroundColor;
        margin-top: -2px;
        padding: 0 $padding 0 $padding;
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: -294px;

        header {
            padding-left: 0;
        }

        table {
            table-layout: fixed;
            margin-bottom: $padding;
            width: 100%;

            th, td {
                text-align: right;
                &:first-child {
                    text-align: left;
                }
                padding: 5px;
            }

            tbody {
                tr:nth-child(odd) {
                    td {
                        background-color: $lightBackgroundColor;
                    }
                }
                tr:nth-child(even) {
                    td {
                        background-color: $lighterBackgroundColor;
                    }
                }
            }
            tbody.frakt {
                tr {
                    td {
                        border-top: 2px solid $darkBackgroundColor;
                        background-color: $lighterBackgroundColor;

                    }
                }

            }
            tfoot {
                td {
                    font-weight: bold;
                }
            }
        }

        #send {
            margin: 0 -$padding;
            margin-bottom: $padding;
            padding: $padding;
            border-width: 0px 0px 5px 0;
            text-align: right;

            -moz-border-image: url(../images/border.png) 0 0 10 repeat;
            -webkit-border-image: url(../images/border.png) 0 0 10 repeat;
            -o-border-image: url(../images/border.png) 0 0 10 repeat;
            border-image: url(../images/border.png) 0 0 10 repeat;

        }
    }
}
