.confirm {
    border-top: 2px solid $darkBackgroundColor;
    background-color: $lightestBackgroundColor;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0 $padding 0 $padding;

    header {
        padding: $padding;
        padding-left: 0;
    }

    table {
        table-layout: fixed;
        margin-bottom: $padding;
        width: 100%;

        th, td {
            padding: 5px;
            text-align: right;

            &:first-child {
                text-align: left;
            }
        }

        tbody {
            tr:nth-child(odd) {
                td {
                    background-color: $lightBackgroundColor;
                }
            }
            tr:nth-child(even) {
                td {
                    background-color: $lighterBackgroundColor;
                }
            }
        }
        tbody.frakt {
            tr {
                td {
                    border-top: 2px solid $darkBackgroundColor;
                    background-color: $lighterBackgroundColor;

                }
            }

        }
        tfoot {
            td {
                font-weight: bold;
            }
        }
    }

    footer {
        margin: 0 -$padding;
        margin-bottom: $padding;
        padding: $padding;
        text-align: right;
    }
}
