@import "compass_twitter_bootstrap_awesome";
//
@import "variables";
@import "mixins";
//
@import "cart";
@import "product";

* {
    @include box-sizing(border-box);
}

body {
    background-color: $darkBackgroundColor;
    padding: $padding;
}

.wrapper {
    @include flex-horizontal;

    max-width: 800px;
    margin: 0 auto;

    & > * {
        @include flex(1);
    }

    & > .no-flex {
        @include flex(0);
    }
}
